<template>
    <div>
        <v-btn
            dense
            fab
            small
            flat
            @click.stop="$store.commit('toggleModal', true)"
        >
            <v-icon>delete</v-icon>
        </v-btn>

        <v-dialog 
            v-model="$store.state.app.modal"
            lazy
        >
            <v-card>
                <v-card-title>
                    <h3 class="headline">Delete {{item.name}}?</h3>
                </v-card-title>
                <v-card-text>
                    <template v-if="relations.length > 0 || occurences.length > 0">
                        <ul>
                            <li v-if="relations.length > 0">appears in scenes {{relations}}</li>
                            <li v-if="occurences.length > 0">is mentioned in scenes {{occurences}}</li>
                        </ul>
                        <p>
                            Deleting this {{type}} will also remove all links to it.<br>
                            Occurences in the text will remain.
                        </p>
                    </template>
                    <p v-else>
                        {{item.name}} doesn't appear in your project.
                    </p>
                </v-card-text>
                <v-card-actions>
                    <v-btn flat @click.stop="$store.commit('toggleModal', false)">Cancel</v-btn>
                    <v-btn flat @click.prevent="deleteItem()">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script src="./SafeDeleteItem.js"></script>
<style lang="scss" src="./SafeDeleteItem.scss" scoped></style>
