<template>
    <v-container fluid grid-list-md class="project__wrapper">
        <v-layout row wrap justify-center>
            <v-flex xs12 md8>
                <v-card class="project__card is--faux-mobile" id="project">
                    <v-card-title class="title">Project</v-card-title>
                    <v-card-text>
                            <v-text-field 
                                v-model="projectTitle"
                                type="text"
                                label="Project Title"
                            />
                            <v-textarea 
                                type="text"
                                rows="1"
                                auto-grow
                                v-model="projectSynopsis"
                                label="Synposis"
                            />
                    </v-card-text>
                </v-card>
                <v-card class="project__card is--faux-mobile" id="author">
                    <v-card-title class="title">Author</v-card-title>
                    <v-card-text>
                            <v-text-field 
                                v-model="projectAuthorName"
                                type="text"
                                label="Name"
                            />
                            <v-textarea 
                                type="text"
                                rows="1"
                                auto-grow
                                v-model="projectAuthorAddress"
                                label="Address"
                            />
                            <v-text-field 
                                v-model="projectAuthorMail"
                                type="mail"
                                label="E-Mail"
                            />
                            <v-text-field 
                                v-model="projectAuthorPhone"
                                type="tel"
                                label="Phone"
                            />
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script src="./Project.js"></script>
<style lang="scss" src="./Project.scss" scoped></style>
