<template>
    <v-card class="link-menu" flat>
        <div class="link-menu__lists">
            <!-- link selection -->
            <v-list
                v-for="(type, index) in types" 
                :key="index"
                class="link-menu__detail-list"
                :class="{ 'is--active': type.active === true }"
            >
                <v-list-tile
                    class="link-menu__detail-entry"
                    @click.prevent="type.active=false"
                    avatar
                >
                    <v-list-tile-avatar>
                        <v-icon>arrow_back</v-icon>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>Back</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile
                    v-for="(detail, index) in $store.state.project[type.name]" 
                    @click.prevent="toggleLink(id, type.name, detail.id)"
                    :key="index"
                    class="link-menu__detail-entry"
                    :avatar="type.name === 'character'"
                >
                    <v-list-tile-avatar v-if="type.name === 'character'">
                        <character-button 
                            :id="detail.id" 
                            class="paragraph__avatar"
                        />
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title v-html="detail.name"></v-list-tile-title>
                    </v-list-tile-content>

                    <v-list-tile-action>
                        <v-icon 
                            v-if="type.icon" 
                            :color="isRelInParagraph(id, type.name, detail.id) ? 'accent' : ''"
                        >{{type.icon}}</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>

            <!-- type selection -->
            <v-list class="link-menu__types-list link-menu__detail-list">
                <v-list-tile
                    v-for="(type, index) in types" 
                    :key="index" 
                    class="link-menu__types-entry"
                    :class="{ 'is--active': type.active === true }"
                    @click.prevent="type.active=true"
                    avatar
                >
                    <v-list-tile-avatar>
                        <v-badge 
                            :value="$store.getters.getRelationCountById(id, type.name)"
                            color="accent"
                            overlap
                        >
                            <template v-slot:badge>
                                {{$store.getters.getRelationCountById(id, type.name)}}
                            </template>
                            <v-icon v-if="type.icon">{{ type.icon }}</v-icon>
                        </v-badge>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ type.name }}</v-list-tile-title>
                    </v-list-tile-content>

                    <v-list-tile-action>
                        <v-icon>arrow_forward</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </div>

        <v-card-actions class="link-menu__active" v-if="rel.length > 0">
            <!-- todo: closing doesnt work properly -->
            <v-chip 
                v-for="(rel, index) in rel" 
                :key="index"
                @click="toggleLink(id, rel['type'], rel['id'])"
                class="link-menu__active-entry"
                small
                close 
            >
                <v-avatar>              
                    <character-button 
                        v-if="rel['type'] === 'character'"
                        :id="$store.state.project[rel['type']][rel['id']].id" 
                    />
                    <v-icon v-else-if="types.filter(type => type.name === rel['type'])[0].icon">
                        {{ types.filter(type => type.name === rel['type'])[0].icon }}
                    </v-icon>
                </v-avatar>
                {{ $store.state.project[rel['type']][rel['id']].name }}
          </v-chip>
        </v-card-actions>
    </v-card>
</template>

<script src="./LinkMenu.js"></script>
<style lang="scss" src="./LinkMenu.scss" scoped></style>
