.link-menu {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 -5px;

    &__lists {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 40vh;
    }

    &__detail-list {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(100%);
        transition: transform 0.2s ease-out;

        &.is--active {
            transform: translateX(0);
        }
    }

    &__types {
        &-list {
            position: absolute;
            left: 0;
            width: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            transform: translateX(0);
            transition: transform 0.2s ease-out;

            .link-menu__detail-list.is--active ~ & {
                transform: translateX(-100%);
            }
        }
    }
}
