<template>
    <v-container fluid grid-list-md class="help__wrapper">
        <v-layout row wrap justify-center>
            <v-flex xs12 sm8>
                <v-card class="help__card is--faux-mobile" id="scrpt">
                    <v-card-title class="title">Scrpt</v-card-title>
                    <v-card-text>
                        Scrpt is a screenwriting and preproduction tool. It focuses on writing a screenplay and helps you with everything around it.
                    </v-card-text>

                    <v-card-title class="title">How to install</v-card-title>
                    <v-card-text>
                        <ul>
                            <li><b>Chrome:</b> Open the three-dot-menu in the upper right hand corner and select <span class="mark">Install Scrpt</span></li>
                            <li><b>iOS:</b> Click the share icon and select <span class="mark">Add to Home Screen</span></li>
                            <li><b>Android:</b> Accept the install notification at the bottom of the page.</li>
                            <li>Apart from that, Scrpt will simply run in your browser as well.</li>
                        </ul>
                    </v-card-text>
                </v-card>
                <v-card class="help__card is--faux-mobile" id="project">
                    <v-card-title class="title">Saving and Loading a project</v-card-title>
                    <v-card-text>
                        <ul>
                            <li>To load a project, click the <span class="mark"><v-icon>save</v-icon></span> icon in the top bar to open the load/save dialog. Then, select <span class="mark"><v-icon>folder_open</v-icon> Load File</span> to open a .scrpt-file from your device.</li>
                            <li>To save your project, simply open the load/save dialog and select <span class="mark"><v-icon>folder</v-icon> Save File</span></li>
                        </ul>
                    </v-card-text>
                </v-card>
                <v-card class="help__card is--faux-mobile" id="editor">
                    <v-card-title class="title">Editor</v-card-title>
                    <v-card-text>
                        This is where you write your screenplay. Scrpt gives you some tools to keep you organized and automate mundane tasks, so you can fully concentrate on writing your masterpiece.
                    </v-card-text>

                    <v-card-title class="title">The script</v-card-title>
                    <v-card-text>
                        <ul>
                            <li>Scrpt formats your text automatically after the <a target="blank" href="https://web.archive.org/web/20080822084909/http://www.oscars.org/nicholl/format.html">American Master Scene Script</a>.</li>
                            <li>Characters are automatically saved to your character database.</li>
                            <li>All characters from your database can be autocompleted within character paragraphs.</li>
                        </ul>
                    </v-card-text>

                    <v-card-title class="title">Writing</v-card-title>
                    <v-card-text>
                        <ul>
                            <li>Your script is made up from paragraphs. Each paragraph as a specified type and content.</li>
                            <li>You can switch the paragraph type by clicking on the corresponding icon or hitting <span class="mark">Alt+Left</span> or <span class="mark">Alt+Right</span></li>
                            <li>You can navigate between paragraphs using <span class="mark">Alt+Up</span> and <span class="mark">Alt+Down</span></li>
                            <li>Each paragraph can also link to a character, location or an item. You can manage links by clicking on <span class="mark"><v-icon>link</v-icon></span></li>
                            <li>Character paragraphs require a link to a character. While writing, those links are created on the fly.</li>
                            <li>You can delete a paragraph by clicking on <span class="mark"><v-icon>close</v-icon></span> or emptying the content.</li>
                        </ul>
                    </v-card-text>
                </v-card>
                <v-card class="help__card is--faux-mobile" id="characters-locations">
                    <v-card-title class="title">Characters and Locations</v-card-title>
                    <v-card-text>
                        <ul>
                            <li>Characters are automatically generated as you write your script. But you can also manually add characters.</li>
                            <li>Locations can only be added manually</li>
                            <li>You can delete your characters and locations by clicking <span class="mark"><v-icon>delete</v-icon></span></li>
                            <li>Note that deleted entries are unlinked from your script.</li>
                        </ul>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script src="./Help.js"></script>
<style lang="scss" src="./Help.scss" scoped></style>
