.help {
    &__card {
        .mark {                
            background: var(--v-bg-lighten3);
            display: inline-block;
            vertical-align: middle;
            padding: 3px 5px;
            border-radius: 5px;

            .theme--dark & {
                background: var(--v-bg-lighten4);
            }
        }
    }
}