.paragraph {
	position: relative;
	width: 100%;
	font-size: 1rem;
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;

	&[data-type="scene"] {
		background-color: var(--v-bg-lighten4);
		margin-bottom: var(--s-paragraph-lineheight);

		.theme--dark & {
			background-color: var(--v-bg-lighten5);
		}

		.paragraph__inline-controls {
			max-width: var(--s-paragraph-long);
		}

		.paragraph__input {
			max-width: var(--s-paragraph-long);
			text-align: left;
			resize: none;
		}
	}

	&[data-type="action"] {
		margin-bottom: var(--s-paragraph-lineheight);

		.paragraph__inline-controls {
			max-width: var(--s-paragraph-long);
		}

		.paragraph__input {
			max-width: var(--s-paragraph-long);
			will-change: height;
		}
	}

	&[data-type="character"] {
		.paragraph__inline-controls {
			max-width: var(--s-paragraph-short);
		}

		.paragraph__input {
			max-width: var(--s-paragraph-short);
			text-align: center;
			text-transform: uppercase;
			resize: none;
		}
	}

	&[data-type="parenthesis"] {
		.paragraph__inline-controls {
			max-width: var(--s-paragraph-short);
		}

		.paragraph__input {
			max-width: var(--s-paragraph-short);
			text-align: center;
			font-style: italic;
		}
	}

	&[data-type="dialog"] {
		margin-bottom: var(--s-paragraph-lineheight);

		.paragraph__inline-controls {
			max-width: var(--s-paragraph-short);
		}

		.paragraph__input {
			max-width: var(--s-paragraph-short);
			will-change: height;
		}
	}

	&[data-type="shot"] {
		.paragraph__inline-controls {
			max-width: var(--s-paragraph-long);
		}

		.paragraph__input {
			max-width: var(--s-paragraph-long);
			text-align: right;
		}
	}

	&__input {
		display: block;
		width: calc(100% - 4px);
		height: var(--s-paragraph-lineheight);
		height: calc(var(--lineCount) * 1.5);
		overflow: hidden;
		resize: none;
		margin: auto;
		border: none;
		font-family: 'Roboto Mono', monospace;
		font-size: inherit;
		background-color: transparent;
		z-index: 1;

		&:hover,
		&:focus {
			background-color: var(--v-bg-lighten3);

			.theme--dark & {
				background-color: var(--v-bg-lighten4);
			}
		}

		&:focus {
			outline: none;
		}

		&:not(:valid):not(:focus) {
			background-color: var(--v-error-lighten4);
		}
	}

	&__link {
		float: left;
		margin: 0.15em 0 0 -7ch;
		pointer-events: all;
		cursor: pointer;

		&-icon {
			height: 100%;
			margin-top: 2px;
			color: var(--v-primary-lighten2);
		}
	}

	&__inline-controls {
		position: absolute;
		top: -0.4em;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		text-align: right;
		pointer-events: none;
		opacity: 0;
		z-index: 2;

		.paragraph__delete {
			top: -3px;
			left: 8ch;
		}
	}

	&__avatar {
		pointer-events: all;
		text-decoration: none;
	}

	&__icon {
		float: left;
		margin-top: 5px;
		margin-left: -2ch;
		color: var(--v-bg-base);

		.theme--dark & {
			color: var(--v-bg-lighten5);
		}
	}

	&__avatar {
		float: left;
		margin-left: -6ch;
	}

	&__delete {
		width: 25px;
		height: 25px;

		&:hover {
			color: var(--v-error-base);
		}
	}

	& {
		.paragraph__inline-controls {
			opacity: 1;

			button {
				pointer-events: all;
			}
		}
	}
}