<template>
    <!-- todo:  :data-scene="scene"
                :data-character="character" -->
    <section class="paragraph"
        :class="{ 'is--hover': hover === true, 'is--focus': focus === true }"
        :data-type="type"
        :data-id="id"
        
        @mouseenter="hover = true"
        @mouseleave="hover = false"
        @keydown.alt.delete.prevent="deleteParagraph(id)"
        @keydown.alt.backspace.prevent="deleteParagraph(id)"
    >
        <textarea class="paragraph__input"
                :style="'--lineCount: ' + lines + 'em'"
                :data-autocomplete="autocompleteList"
                :data-id="id"
                @focus="onFocus()"
                @blur="saveContent($event, content)"
                @input="calculateLines()"
                @keydown.enter.prevent="onEnter()"
                @keydown.escape.prevent="onEscape()"
                @keydown.alt.left.prevent="changeParagraphType(false, true)"
                @keydown.alt.right.prevent="changeParagraphType()"
                :spellcheck="paragraphTypes.filter(obj => obj.name === type)[0].spellcheck"
                required="required"
                v-model="content"
        />

        <div class="paragraph__inline-controls hidden-xs-only" v-if="hover || focus">
            <router-link
                v-if="type === 'character' && rel.character" 
                :to="{ name: 'characters', params: { id: rel.character[0] }}"
                class="paragraph__avatar"
            >    
                <character-button 
                    :id="rel.character[0]" 
                />
            </router-link>
            <i 
                v-else
                class="paragraph__icon material-icons"
            >
                {{ paragraphTypes.filter(obj => obj.name === type)[0].icon }}
            </i>

            <v-btn 
                class="paragraph__delete elevation-0"
                fab
                small
                @click.prevent="deleteParagraph(id)"
            >
                <i class="paragraph__delete-icon material-icons">close</i>
            </v-btn>
        </div>

        <paragraph-helper 
            v-if="focus"
            :id="id"
            :type="type"
            v-on:changeType="changeParagraphType($event)"
            v-on:deleteParagraph="deleteParagraph($event)"
        />
    </section>
</template>

<script src="./Paragraph.js"></script>
<style lang="scss" src="./Paragraph.scss" scoped></style>
