.edit {
	&__paper {
		display: none;
	}

	&__wrapper {
		padding: 1em 10px;
	}

	&__editor {
		position: relative;
		max-width: calc(#{var(--s-paragraph-long)} + 160px);
		min-height: calc(100vh - 160px);
		z-index: 0;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100px;
		}
	}

	&__empty {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: var(--v-bg-base);

		&-icon {
			display: block;
			font-size: 72px;
			margin-bottom: 1rem;
		}
	}
}

@media (min-width: 45em) {
	.edit__paper {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
