<template>
    <v-container fluid grid-list-md class="edit__wrapper">
        <v-layout row wrap justify-center>
            <v-flex d-flex class="edit__editor">
                <v-card class="is--faux-mobile">
                    <v-card-text
                        class="edit__inner"
                        @keydown.alt.up.prevent="focusParagraph"
                        @keydown.alt.down.prevent="focusParagraph"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="edit__paper">
                            <defs>
                                <filter id="paper">
                                    <feTurbulence type="fractalNoise" baseFrequency="0.0075" stitchTiles="stitch" numOctaves="5" result="noise" />
                                    <feDiffuseLighting in="noise" lighting-color="hsl(42, 0%, 100%" surfaceScale="15" >
                                        <feDistantLight azimuth="35" elevation="60"/>
                                    </feDiffuseLighting>
                                </filter>
                            </defs>
                            <rect filter="url(#paper)" width="100%" height="100%" opacity="0.25"></rect>
                        </svg>
                        <Paragraph 
                                class="edit__paragraph"
                                v-for="paragraph in script"
                                v-bind:key="paragraph.id"
                                v-bind:id="paragraph.id"
                                v-bind:typeProp="paragraph.type"
                                v-bind:contentProp="paragraph.content"
                                v-bind:relProp="paragraph.rel"
                                v-on:addNewParagraph="onEditNewParagraph($event)"
                        />

                        <div 
                            v-if="$store.state.project.script.length <= 0"
                            class="edit__empty"
                        >
                            <v-icon class="edit__empty-icon">edit</v-icon>
                            Please start by adding a new paragraph.
                        </div>

                        <v-btn
                            class="edit__button"
                            color="accent"
                            fixed
                            bottom
                            fab
                            @click="onEditNewParagraph($store.state.project.script.length + 1)"
                            >
                            <v-icon>edit</v-icon>
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <!-- <Minimap></Minimap> -->
    </v-container>
</template>

<script src="./Edit.js"></script>
<style lang="scss" src="./Edit.scss" scoped></style>
