$material-icons-font-path: '~material-icons/iconfont/';

@import '~typeface-roboto/index.css';
@import '~typeface-roboto-mono/index.css';
@import "~material-icons/iconfont/material-icons.scss";
@import "../../scss/suggestions.scss";

:root {
    --animation-curve-default: "cubic-bezier(.4,0,.2,1)";

    --s-paragraph-short: 35ch;
    --s-paragraph-long: 60ch;
    --s-paragraph-lineheight: 1.2em;

    --v-bg-black: #000;
    --v-bg-darken5: #111;
    --v-bg-darken4: #212121;
    --v-bg-darken3: #424242;
    --v-bg-darken2: #616161;
    --v-bg-darken1: #757575;
    --v-bg-base: #9e9e9e;
    --v-bg-lighten1: #bdbdbd;
    --v-bg-lighten2: #e0e0e0;
    --v-bg-lighten3: #eee;
    --v-bg-lighten4: #f5f5f5;
    --v-bg-lighten5: #fafafa;
    --v-bg-white: #fff;

    .theme--dark {
        --v-bg-white: #000;
        --v-bg-lighten5: #111;
        --v-bg-lighten4: #212121;
        --v-bg-lighten3: #424242;
        --v-bg-lighten2: #616161;
        --v-bg-lighten1: #757575;
        --v-bg-base: #9e9e9e;
        --v-bg-darken1: #bdbdbd;
        --v-bg-darken2: #e0e0e0;
        --v-bg-darken3: #eee;
        --v-bg-darken4: #f5f5f5;
        --v-bg-darken5: #fafafa;
        --v-bg-black: #fff;
	}
	
	scroll-behavior: smooth;
	overflow-y: auto;
}

.header {
	&__title {
		text-transform: uppercase;
		font-weight: normal;
	}
}

a {
	color: {
		color: var(--v-primary-base);
	}

	.theme--dark & {
		color: var(--v-primary-lighten4);
	}
}


.v-card + .v-card {
    margin-top: 24px;
}

@media (max-width: 45em) {
    .container.main__inner {
        padding: 0;
    }

    .v-card, 
    .v-card[class*="theme--"], 
    .v-list,
    .v-list[class*="theme--"] {
        &.is--faux-mobile {
            background: transparent;
            box-shadow: none;

            > [class^="v-card__"] {
                padding: 0;
            }

            &:not(:last-of-type)::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                margin: 48px 0;
                background: var(--v-bg-lighten3);
            }
        }
    }
}

@media (pointer: fine), (min-width: 45em) {
	:root {
		::-webkit-scrollbar {
            width: 5px;
		}

		::-webkit-scrollbar-track {
			background: rgba(0, 0, 0, 0);
		}

		::-webkit-scrollbar-thumb {
			background: var(--v-primary-base);
		}
	}
}