<template>
    <v-app>
        <v-toolbar 
            app
            dark 
            color="primary" 
            fixed 
            class="header"
        >
            <v-toolbar-title class="header__title">
                <template v-if="projectTitle">{{projectTitle}}</template>
                <template v-else>SCRPT</template>
            </v-toolbar-title>
            <v-spacer/>
            <save-load class="header__file-icon" />
            <v-toolbar-side-icon 
                class="header_menu-icon"
                @click.stop="$store.commit('toggleOffcanvas', !$store.state.app.offcanvas)"
            />
        </v-toolbar>

        <offcanvas-menu />
        
        <v-content class="main">
            <v-container fluid class="main__inner">
                <router-view />
            </v-container>
        </v-content>
    </v-app>
</template>

<script src="./App.js"></script>
<style lang="scss" src="./App.scss"></style>
