<template>
    <v-menu 
        bottom 
        left
        transition="slide-y-transition"
        class="save-load"
    >
        <template v-slot:activator="{ on }">
            <v-btn
                icon
                v-on="on"
                class="save-load__button"
            >
                <v-icon>save</v-icon>
            </v-btn>
        </template>

        <v-list 
            class="save-load__menu"
            dense
        >
            <v-list-tile 
                class="save-load__entry"
                @click="onClickNewFile"
            >
                <v-list-tile-action>
                    <v-icon class="save-load__icon">create_new_folder</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>New File</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-list-tile 
                class="save-load__entry"
                @click=""
            >
                <v-list-tile-action>
                    <v-icon class="save-load__icon">folder_open</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Load File</v-list-tile-title>
                </v-list-tile-content>
                <input 
                    class="save-load__input"
                    type="file" 
                    id="saveLoadFile__loadFile" 
                    name="files[]" 
                    accept=".scrpt"
                    @change="onFileChange"
                />
            </v-list-tile>

            <v-list-tile 
                class="save-load__entry"
                @click="onClickDownload"
            >
                <v-list-tile-action>
                    <v-icon class="save-load__icon">folder</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Save File</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <a 
            v-if="projectJson" 
            :href="'data:text/plain;charset=utf-8,' + encodeURIComponent(projectJson)"
            :download="$store.state.project.project.title + '.scrpt'"
            class="save-load__download"
        ></a>
    </v-menu>
</template>

<script src="./SaveLoadFile.js"></script>
<style lang="scss" src="./SaveLoadFile.scss" scoped></style>