<template>
    <v-navigation-drawer
            class="offcanvas-menu"
            v-model="$store.state.app.offcanvas"
            right
            fixed
            temporary
            app
        >
            <v-list class="offcanvas-menu__list" dense>
                <v-list-tile class="offcanvas-menu__link" href="/" to="/" @click.native="$store.commit('toggleOffcanvas', false)">
                    <v-list-tile-action class="offcanvas-menu__action">
                        <v-icon class="offcanvas-menu__icon">home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="offcanvas-menu__text">Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile class="offcanvas-menu__link" href="/project" to="/project" @click.native="$store.commit('toggleOffcanvas', false)">
                    <v-list-tile-action class="offcanvas-menu__action">
                        <v-icon class="offcanvas-menu__icon">movie</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="offcanvas-menu__text">Project</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile class="offcanvas-menu__link" href="/edit" to="/edit" @click.native="$store.commit('toggleOffcanvas', false)">
                    <v-list-tile-action class="offcanvas-menu__action">
                        <v-icon class="offcanvas-menu__icon">edit</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="offcanvas-menu__text">Edit</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile class="offcanvas-menu__link" href="/locations" to="/locations" @click.native="$store.commit('toggleOffcanvas', false)">
                    <v-list-tile-action class="offcanvas-menu__action">
                        <v-icon class="offcanvas-menu__icon">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="offcanvas-menu__text">Locations</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile class="offcanvas-menu__link" href="/characters" to="/characters" @click.native="$store.commit('toggleOffcanvas', false)">
                    <v-list-tile-action class="offcanvas-menu__action">
                        <v-icon class="offcanvas-menu__icon">person</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="offcanvas-menu__text">Characters</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile class="offcanvas-menu__link" href="/help" to="/help" @click.native="$store.commit('toggleOffcanvas', false)">
                    <v-list-tile-action class="offcanvas-menu__action">
                        <v-icon class="offcanvas-menu__icon">help</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="offcanvas-menu__text">Help</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
</template>

<script src="./OffCanvasMenu.js"></script>
<style lang="scss" src="./OffCanvasMenu.scss" scoped></style>
