<template>
    <v-container grid-list-md class="characters">
        <v-layout row wrap>
            <v-flex xs12 md8 lg10> 
                <v-card 
                    v-if="character" 
                    class="characters__menu is--faux-mobile" 
                    :class="[activeCharacter >= 0 ? '' : 'hidden-sm-and-down']"
                >
                    <v-btn flat icon absolute class="characters__menu-close hidden-md-and-up" @click.prevent="activateCharacter(-1)">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-card-title class="characters__menu-edit-name">
                        <character-button :id="activeCharacter" class="mr-3" size="64px" />
                        <v-text-field
                            :value="$store.state.project.character[activeCharacter].name"
                            @input="updateCharacter('name', $event)"
                            type="text"
                            label="Character Name"
                        ></v-text-field>

                        <safe-delete-item type="character" :id="activeCharacter" v-on:beforeDelete="activateCharacter(-1)">
                            <v-btn flat icon slot="link" class="characters__menu-delete">
                                <v-icon class="characters__menu-delete-icon">delete</v-icon>
                            </v-btn>
                        </safe-delete-item>
                    </v-card-title>

                    <v-card-text class="characters__menu-content">
                        <v-layout row wrap>
                            <v-flex xs12 lg6> 
                                <div class="characters__menu-notes">
                                    <v-textarea
                                        :value="$store.state.project.character[activeCharacter].description"
                                        @input="updateCharacter('description', $event)"
                                        auto-grow
                                        rows="1"
                                        label="Description"
                                    />
                                    <v-textarea
                                        :value="$store.state.project.character[activeCharacter].bio"
                                        @input="updateCharacter('bio', $event)"
                                        auto-grow
                                        rows="1"
                                        label="Biography"
                                    />
                                    <v-textarea
                                        :value="$store.state.project.character[activeCharacter].notes"
                                        @input="updateCharacter('notes', $event)"
                                        auto-grow
                                        rows="1"
                                        label="Character Notes"
                                    />
                                </div>
                            </v-flex>
                            <v-flex xs12 lg6> 
                                <ul class="characters__menu-props-list">
                                    <li class="characters__menu-props-entry" v-for="prop in characterProps" :key="prop">
                                        <v-text-field
                                            :value="$store.state.project.character[activeCharacter][prop]"
                                            @input="updateCharacter(prop, $event)"
                                            type="text"
                                            :label="prop.charAt(0).toUpperCase() + prop.slice(1)"
                                        />
                                    </li>
                                </ul>
                            </v-flex>
                        </v-layout>

                        <gallery
                            :images="$store.state.project.character[activeCharacter].images"
                            :enableUpload="true"
                            :uploadWidth=900 
                            :uploadQuality=0.5 
                            v-on:upload="onImageUpload($event)"
                            v-on:galleryChange="galleryActiveImage = $event"
                        >
                            <template v-slot:carousel-inner>
                                <v-btn
                                    fab
                                    color="primary"
                                    small
                                    absolute 
                                    left
                                    dark
                                    icon
                                    class="mt-3"
                                    @click="$store.state.project.character[activeCharacter].avatar === galleryActiveImage.name ?
                                        updateCharacter('avatar', '') :
                                        updateCharacter('avatar', galleryActiveImage.name)"
                                >
                                    <v-icon v-if="$store.state.project.character[activeCharacter].avatar === galleryActiveImage.name">
                                        star
                                    </v-icon>
                                    <v-icon v-else>
                                        star_border
                                    </v-icon>
                                </v-btn>
                                <v-btn
                                    fab
                                    color="primary"
                                    small
                                    absolute 
                                    right
                                    dark
                                    icon
                                    class="mt-3"
                                    @click="deleteImage(galleryActiveImage)"
                                >
                                    <v-icon>delete</v-icon>
                                </v-btn>
                            </template>
                        </gallery>
                    </v-card-text>
                </v-card>

                <v-card 
                    v-else 
                    class="characters__empty"
                    :class="[activeCharacter >= 0 ? 'hidden' : 'hidden-sm-and-down']"
                >
                    <div class="characters__empty-content">
                        <v-card-text>
                            <v-icon class="characters__empty-icon">person</v-icon>
                            Please add your characters here.<br>
                            Characters will also be added as you write your script.
                        </v-card-text>
                    </div>
                </v-card>
            </v-flex>

            <v-flex xs12 md4 lg2> 
                <v-card class="is--faux-mobile">
                    <v-list 
                        class="characters__list is--faux-mobile" 
                        :class="[activeCharacter >= 0 ? 'hidden-sm-and-down' : '']"
                        dense
                    >
                        <v-list-tile
                            class="characters__list-item characters__list-addnew"
                            @click="addNewCharacter()"
                        >
                            <v-list-tile-action class="characters__list-action">
                                <v-avatar color="accent" size="32">
                                    <v-icon dark>person_add</v-icon>
                                </v-avatar>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title 
                                    class="characters__list-text"
                                >New Character</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile
                            v-for="(character, index) in $store.state.project.character"
                            :key="character.id"
                            class="characters__list-item"
                            :to="{ name: 'characters', params: { id: character.id }}"
                        >
                            <v-list-tile-action class="characters__list-action">
                                <character-button :id="character.id" />
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title 
                                    class="characters__list-text"
                                    v-html="character.name || 'Unnamed Character'"
                                ></v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script src="./Characters.js"></script>
<style lang="scss" src="./Characters.scss" scoped></style>
