.characters {
	padding: 0 0 1em;
	
    &__list {
		position: sticky;
		top: 69px; // accomodate for header
	}

	&__menu {
		position: sticky;
		top: 5px;

		&-close {
			top: 0;
			right: 0;
			z-index: 3;
		}

		&-props-list {
			list-style: none;
            margin: 0;
			padding: 0;
		}
	}

	&__empty {
		position: sticky;
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		&-icon {
			display: block;
			font-size: 72px;
		}
	}
}

@media (max-width: 45em) {
	.characters {
		&__menu.is--faux-mobile > &__menu-edit-name,
		&__menu.is--faux-mobile > &__menu-content {
			padding: 1em;
		}
	}
}

@media (max-width: 45em) and (orientation: portrait) {
	.characters__menu {
		&.is--faux-mobile > &-edit-name {
			position: sticky;
			top: 56px;
			background: var(--v-bg-lighten4);
			box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
			z-index: 2;
		}

		&-close {
			position: fixed;
			top: 56px;
		}
	}
}