<template>
    <v-container class="home">
        <div class="home__title">
            <v-img 
                class="home__logo"
                src="@/../static/img/icons/icon.svg" 
                transition="scale-transition" 
                origin="center center"
            />
            <h1 class="display-2 home__title-text">
                <span class="home__title-animated">{{animatedHeadline}}</span> your story
            </h1>
        </div>
        <v-container fluid grid-list-md class="home__content">
            <v-layout row wrap justify-center>
                <v-flex d-flex xs12 sm8>
                    <v-card class="is--faux-mobile">
                        <v-card-text>
                            <p>This is a screenwriting and preproduction app in its early development stage.</p>
                            <p>Features to be included are:</p>
                            <ul>
                                <li>Intuitive script and story editor</li>
                                <li>Collections for everything from characters to locations and props</li>
                                <li>Cross-references for those collections in the whole project</li>
                                <li>Upload options for images, videos, gps-locations, etc.</li>
                                <li>json-based project files with cloud sync options</li>
                                <li>PWA with install options for every platform</li>
                                <li>Assisted production planning tool</li>
                            </ul>
                            <p>Up until now this is a solo side project by <a href="https://iamschulz.de" target="_blank">Daniel Schulz</a>. If you'd like to contribute, please get in touch.</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-container>
</template>

<script src="./Home.js"></script>
<style lang="scss" src="./Home.scss" scoped></style>
