.home {
    position: relative;
    margin: auto;

    &__content {
        padding-left: 0;
        padding-right: 0;
    }

    &__title {
        color: var(--v-primary-base);
        
        .theme--dark & {
            color: var(--v-primary-lighten3);
        }
		
        &-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0;
        }

        &-animated {
			display: block;

            &::after {
                @keyframes blink {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
                content: "|";
				animation: blink 1s steps(2) infinite;
            }
        }
    }

    &__logo {
        width: 200px;
        height: 200px;
        max-width: 100%;
        margin: 0 auto 1rem;
    }
}
