<template>
    <div class="image-upload">
        <v-img 
            v-if="thumbnail"
            :src="currentImage" 
            class="image-upload__thumbnail"
        />
        <input
            class="image-upload__input d-none"
            type="file" 
            accept="image/x-png,image/gif,image/jpeg"
            id="image-upload__input" 
            name="files[]" 
            @change="onImageUpload"
        />
        <v-layout
            class="image-upload__trigger"
            @click="onTriggerClick"
            justify-center
            align-center
        >
            <slot>
                <v-btn class="ma-0">
                    Select an image
                </v-btn>
            </slot>
        </v-layout>
    </div>
</template>

<script src="./ImageUpload.js"></script>
<style lang="scss" src="./ImageUpload.scss" scoped></style>
