<template>
    <v-avatar 
        class="character-button"
        :color="$store.getters.getCharacterColor(id)"
        :size="size"
    >
        <template v-if="character.name.length > 0">
            <img
                class="character-button__image"
                v-if="characterImage"
                :src="characterImage"
                :alt="character.name"
            />
            <span
                v-else
                class="character-button__initials white--text headline"
            >
                {{character.name.charAt(0)}}
            </span>
        </template>
        <v-icon v-else class="character-button__default" dark>person</v-icon>
    </v-avatar>
</template>

<script src="./CharacterButton.js"></script>
<style lang="scss" src="./CharacterButton.scss" scoped></style>

