.paragraph-helper {
    @keyframes paragraph-helper {
        0%   { 
            opacity: 0; 
            transform: translate(-50%, -1em);
        }
        100% { 
            opacity: 1; 
            transform: translate(-50%, 0);
        }
    }

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--v-bg-lighten3);
    z-index: 3;
    animation: paragraph-helper 0.2s;

    .theme--dark & {
        background-color: var(--v-bg-lighten4);
    }

    &__change {
        width: 28px;
        height: 28px;
        margin: 0.2ch;
    }

    &__link {
        margin-right: 0;
        overflow: visible;

        &:hover {
            color: inherit;
        }
    }

    &__help {
        width: 2em;
        margin-left: 2ch;
        font-size: 0.8em;
        text-align: center;
        color: var(--v-bg-base);
        pointer-events: none;

        i {
            display: block;
            margin-top: -8px;
            font-size: 18px;
        }
    }

    &__delete {
        margin: 0.2ch;
    }
}