<template>
    <v-system-bar 
        class="paragraph-helper elevation-2" 
        dense
    >
        <v-btn
            class="paragraph-helper__change paragraph-helper__link"
            dense
            fab
            small
            flat
            @click.stop="$store.commit('toggleModal', true)"
        >
            <v-badge 
                :value="$store.getters.getRelationCountById(id)"
                color="accent"
                overlap
            >
                <template v-slot:badge>
                    <span>{{$store.getters.getRelationCountById(id)}}</span>
                </template>
                <i class="paragraph-helper__link-icon material-icons">link</i>
            </v-badge>
        </v-btn>

        <v-dialog 
            v-model="$store.state.app.modal"
            lazy
        >
            <v-card>
                <v-card-title class="headline">Link with...</v-card-title>
                <v-card-text>
                    <link-menu
                        v-bind:id="id"
                        store="script"
                    />
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-btn
            class="paragraph-helper__change"
            :color="type === paragraphType.name ? 'accent' : ''"
            dense
            fab
            small
            flat
            v-for="(paragraphType, index) in paragraphTypes"
            :key="index"
            @click.prevent="$emit('changeType', paragraphType.name);"
        >
            <i class="material-icons">{{ paragraphType.icon }}</i>
        </v-btn>

        <v-btn class="paragraph-helper__delete hidden-md-and-up"
            dense
            fab
            small
            flat
            @click.prevent="$emit('deleteParagraph', id);"
        >
            <i class="material-icons">close</i>
        </v-btn>

        <div class="paragraph-helper__help hidden-sm-and-down">
            <span>ALT</span>
            <i class="material-icons">arrow_forward</i>
        </div>
    </v-system-bar>
</template>

<script src="./ParagraphHelper.js"></script>
<style lang="scss" src="./ParagraphHelper.scss" scoped></style>
