.gallery {
	&__aspect-outer {
		position: relative;
		height: 0;
		padding-top: 100%;
	}

	&__aspect-inner {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: var(--v-bg-lighten4);
	}

	&__image {
		cursor: pointer;
		box-shadow: none;
		transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
		transform: scale(1);

		&:hover {
			box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
			transform: scale(1.01);
		}
	}
}
