<template>
    <v-container 
        class="gallery" 
        grid-list-sm 
        fluid 
        pa-0
    >
        <p class="gallery__headline subheading" style="color: var(--v-bg-base)">Images</p>
        <v-layout 
            class="gallery__grid" 
            row 
            wrap
        >
            <v-flex
                v-for="(image, index) in images"
                :key="image.name"
                xs6
                sm3
                d-flex
            >
                <v-img
                    :src="image.file"
                    :alt="image.name"
                    aspect-ratio="1"
                    class="gallery__image grey lighten-2"
                    @click="galleryModal = true; onGalleryChange(index)"
                />
            </v-flex>
            <v-dialog
                class="gallery__modal d-none"
                width="500"
                v-model="galleryModal"
            >
                <v-carousel 
                    v-model="galleryIndex"
                    :cycle="false"
                    :hide-controls="images.length <= 1"
                    :hide-delimiters="images.length <= 1"
                >
                    <v-carousel-item
                        v-for="image in images"
                        :key="image.name"
                        :src="image.file"
                    >
                        <slot name="carousel-inner"></slot>
                    </v-carousel-item>
                </v-carousel>
            </v-dialog>
            
            <v-flex v-if="enableUpload" xs6 sm3 class="gallery-add d-flex grow align-center">
                <div class="gallery__aspect-outer">
                    <div class="gallery__aspect-inner">
                        <image-upload 
                            :width=uploadWidth 
                            :quality=uploadQuality 
                            :thumbnail=false
                            v-on:upload="onImageUpload($event)"
                        >
                            <v-btn
                                fab
                                dark
                                color="accent"
                            >
                                <v-icon dark>add_a_photo</v-icon>
                            </v-btn>
                        </image-upload>
                    </div>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script src="./Gallery.js"></script>
<style lang="scss" src="./Gallery.scss" scoped></style>
