<template>
    <v-container grid-list-md class="locations">
        <v-layout row wrap>
            <v-flex xs12 md8 lg10> 
                <v-card 
                    v-if="location" 
                    class="locations__menu is--faux-mobile" 
                    :class="[activeLocation >= 0 ? '' : 'hidden-sm-and-down']"
                >
                    <v-btn flat icon absolute class="locations__menu-close hidden-md-and-up" @click.prevent="activateLocation(-1)">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-card-title class="locations__menu-edit-name">
                        <v-text-field
                            :value="$store.state.project.location[activeLocation].name"
                            @input="updateLocation('name', $event)"
                            type="text"
                            label="Location Name"
                        ></v-text-field>

                        <safe-delete-item type="location" :id="location.id" v-on:beforeDelete="activateLocation(-1)">
                            <v-btn flat icon slot="link" class="locations__menu-delete">
                                <v-icon class="locations__menu-delete-icon">delete</v-icon>
                            </v-btn>
                        </safe-delete-item>
                    </v-card-title>

                    <v-card-text class="locations__menu-content">
                        <v-layout row wrap>
                            <v-flex xs12 lg6> 
                                <div class="locations__menu-notes">
                                    <v-textarea
                                        v-model="location.notes"
                                        auto-grow
                                        rows="1"
                                        label="Location Notes"
                                    />
                                </div>
                            </v-flex>
                            <v-flex xs12 lg6> 
                                <ul class="locations__menu-props-list">
                                    <li class="locations__menu-props-entry" v-for="prop in locationProps" :key="prop">
                                        <v-text-field
                                            :value="$store.state.project.location[activeLocation][prop]"
                                            @input="updateLocation(prop, $event)"
                                            type="text"
                                            :label="prop.charAt(0).toUpperCase() + prop.slice(1)"
                                        />
                                    </li>
                                </ul>
                            </v-flex>
                        </v-layout>

                        <gallery
                            :images="$store.state.project.location[activeLocation].images"
                            :enableUpload="true"
                            :uploadWidth=900 
                            :uploadQuality=0.5 
                            v-on:upload="onImageUpload($event)"
                            v-on:galleryChange="galleryActiveImage = $event"
                        >
                            <template v-slot:carousel-inner>
                                <v-btn
                                    fab
                                    color="primary"
                                    small
                                    absolute 
                                    right
                                    dark
                                    icon
                                    class="mt-3"
                                    @click="deleteImage(galleryActiveImage)"
                                >
                                    <v-icon>delete</v-icon>
                                </v-btn>
                            </template>
                        </gallery>
                    </v-card-text>
                </v-card>

                <v-card 
                    v-else 
                    class="locations__empty"
                    :class="[activeLocation >= 0 ? 'hidden' : 'hidden-sm-and-down']"
                >
                    <div class="locations__empty-content">
                        <v-card-text>
                            <v-icon class="locations__empty-icon">landscape</v-icon>
                            Please add your locations here.
                        </v-card-text>
                    </div>
                </v-card>
            </v-flex>

            <v-flex xs12 md4 lg2> 
                <v-card class="is--faux-mobile">
                    <v-list 
                        class="locations__list is--faux-mobile" 
                        :class="[activeLocation >= 0 ? 'hidden-sm-and-down' : '']"
                        dense
                    >
                        <v-list-tile
                            class="locations__list-item locations__list-addnew"
                            @click="addNewLocation()"
                        >
                            <v-list-tile-action class="locations__list-action">
                                <v-icon class="locations__list-icon">add</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title 
                                    class="locations__list-text"
                                >New Location</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile
                            v-for="(location, index) in $store.state.project.location"
                            :key="location.id"
                            class="locations__list-item"
                            :to="{ name: 'locations', params: { id: location.id }}"
                        >
                            <v-list-tile-action class="locations__list-action">
                                <v-icon class="locations__list-icon">landscape</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title 
                                    class="locations__list-text"
                                    v-html="location.name || 'Unnamed Location'"
                                ></v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script src="./Locations.js"></script>
<style lang="scss" src="./Locations.scss" scoped></style>
