.suggestions {
    position: absolute;
    top: -10px;
    left: 50%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: calc(#{var(--s-paragraph-short)} + 4px);
    border-radius: 5px;
    list-style: none;
    background-color: var(--v-bg-lighten3);
    transform: translate(-50%, calc(-100% + 10px));
    opacity: 0;
    pointer-events: none;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;

    &.is--shown {
        transform: translate(-50%, -100%);
        opacity: 1;
        pointer-events: all;
    }

    li {
        padding: 0.2em 1ch;
        cursor: pointer;

        a {
            color: var(--v-bg-darken3);
        }

        &.active {
            background-color: var(--v-primary-lighten4);

            a {
                color: var(--v-bg-darken4);
            }
        }
    }
}
